In [7]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.13/site-packages (2.2.3)
Requirement already satisfied: openpyxl in /opt/anaconda3/lib/python3.13/site-packages (3.1.5)
Requirement already satisfied: numpy>=1.26.0 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: et_xmlfile in /opt/anaconda3/lib/python3.13/site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [8]:
!pip install xlrd

Requirement already satisfied: xlrd in /opt/anaconda3/lib/python3.13/site-packages (2.0.2)

In [9]:
import pandas as pd

In [10]:
df = pd.read_excel("GSAF5.xls") # no need to add file path just call the name of the file
df

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7045,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,Roebuck Bay,Diving,male,M,NaN,...,NaN,"H. Taunton; N. Bartlett, p. 234",ND-0005-RoebuckBay.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0005,ND.0005,6.0,NaN,NaN
7046,Before 1903,0.0,Unprovoked,AUSTRALIA,Western Australia,NaN,Pearl diving,Ahmun,M,NaN,...,NaN,"H. Taunton; N. Bartlett, pp. 233-234",ND-0004-Ahmun.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0004,ND.0004,5.0,NaN,NaN
7047,1900-1905,0.0,Unprovoked,USA,North Carolina,Ocracoke Inlet,Swimming,Coast Guard personnel,M,NaN,...,NaN,"F. Schwartz, p.23; C. Creswell, GSAF",ND-0003-Ocracoke_1900-1905.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0003,ND.0003,4.0,NaN,NaN
7048,1883-1889,0.0,Unprovoked,PANAMA,NaN,"Panama Bay 8ºN, 79ºW",NaN,Jules Patterson,M,NaN,...,NaN,"The Sun, 10/20/1938",ND-0002-JulesPatterson.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0002,ND.0002,3.0,NaN,NaN
7049,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,15,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [11]:
print(df.head())

             Date    Year        Type     Country                  State  \
0    14th October  2025.0  Unprovoked    Columbia   Bolivar, del Isolate
1    11th October  2025.0  Unprovoked   Australia             Queensland
2     7th October  2025.0  Unprovoked   Australia        South Australia
3  29th September  2025.0  Unprovoked         USA         Off California
4  27th September  2025.0    Provoked  Costa Rica                    NaN

                         Location               Activity                Name  \
0               Catagena Province   Swimming with sharks          Male child
1  Cook Esplanade Thursday Island       Fishing/swimming          Samuel Nai
2                 Kangaroo Island                Surfing        Lee Berryman
3                 Catalina Island               Swimming  Christopher Murray
4                   Cocos Islands  Diving-Tagging sharks  Dr. Mauricio Hoyos

  Sex  Age  ...             Species   \
0   M   14  ...         Nurse shark
1   M   14  ...  Tiger or Bull shark
2   M  50+  ...       Bronze whaler?
3   M   54  ...   unknown 1.2m shark
4   M   48  ...       Tiger shark 4m

                                          Source  pdf href formula href  \
0  Kevin McMurray Trackingsharks.com Andy Currie  NaN          NaN  NaN
1              Kevin McMurray Trackingsharks.com  NaN          NaN  NaN
2              Kevin McMurray Trackingsharks.com  NaN          NaN  NaN
3  Todd Smith: Kevin McMurray Trackingsharks.com  NaN          NaN  NaN
4  Todd Smith: Kevin McMurray Trackingsharks.com  NaN          NaN  NaN

  Case Number Case Number.1 original order Unnamed: 21 Unnamed: 22
0         NaN           NaN            NaN         NaN         NaN
1         NaN           NaN            NaN         NaN         NaN
2         NaN           NaN            NaN         NaN         NaN
3         NaN           NaN            NaN         NaN         NaN
4         NaN           NaN            NaN         NaN         NaN

[5 rows x 23 columns]

In [12]:
print(df.columns)

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22'],
      dtype='object')

In [13]:
df.head()  # to see initial patterns

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Species,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22
0,14th October,2025.0,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Nurse shark,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11th October,2025.0,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Tiger or Bull shark,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7th October,2025.0,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Bronze whaler?,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,29th September,2025.0,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,unknown 1.2m shark,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,27th September,2025.0,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Tiger shark 4m,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df["Date"].unique()   #list out unique date formats and identify any patterns. Pattern: months

array(['14th October', '11th October', '7th October', ..., '1900-1905',
       '1883-1889', '1845-1853'], dtype=object)

In [15]:
df["Date"].nunique()

6094

In [16]:
#checking Count the number of null values
df["Date"].isna().sum()

np.int64(0)

In [17]:
df["Date"].dtypes   # dates are objects

dtype('O')

In [18]:
import pandas as pd
import numpy as np

df = pd.read_excel("GSAF5.xls")


# valid month names
valid_months = [
    'January', 'February', 'March', 'April', 'May', 'June',
    'July', 'August', 'September', 'October', 'November', 'December'
]

def extract_month(date_str):
    if pd.isna(date_str) or not isinstance(date_str, str):  #check digit value and NaN
        return np.nan
    for month in valid_months:
        if month in date_str:
            return month
    return np.nan

# Apply the extract_month function to the 'Date' column 
df['Month'] = df['Date'].apply(extract_month)

# Print the first few rows of the DataFrame to see the changes
display(df['Month'].head())
display(df['Month'].tail())

0      October
1      October
2      October
3    September
4    September
Name: Month, dtype: object

7045    NaN
7046    NaN
7047    NaN
7048    NaN
7049    NaN
Name: Month, dtype: object

In [19]:
df.columns

Index(['Date', 'Year', 'Type', 'Country', 'State', 'Location', 'Activity',
       'Name', 'Sex', 'Age', 'Injury', 'Fatal Y/N', 'Time', 'Species ',
       'Source', 'pdf', 'href formula', 'href', 'Case Number', 'Case Number.1',
       'original order', 'Unnamed: 21', 'Unnamed: 22', 'Month'],
      dtype='object')

In [20]:
df['Month'].unique()   # unique / sum / count as overview

array(['October', 'September', 'August', 'July', 'June', nan, 'May',
       'December', 'November', 'April', 'March'], dtype=object)

In [21]:
df['Month'].value_counts()

Month
May          452
July          18
June           8
August         7
October        5
September      4
April          2
December       1
November       1
March          1
Name: count, dtype: int64

In [22]:
df["Year"].unique()

array([2025., 2024., 2026., 2023., 2022., 2021., 2020., 2019., 2018.,
       2017.,   nan, 2016., 2015., 2014., 2013., 2012., 2011., 2010.,
       2009., 2008., 2007., 2006., 2005., 2004., 2003., 2002., 2001.,
       2000., 1999., 1998., 1997., 1996., 1995., 1984., 1994., 1993.,
       1992., 1991., 1990., 1989., 1969., 1988., 1987., 1986., 1985.,
       1983., 1982., 1981., 1980., 1979., 1978., 1977., 1976., 1975.,
       1974., 1973., 1972., 1971., 1970., 1968., 1967., 1966., 1965.,
       1964., 1963., 1962., 1961., 1960., 1959., 1958., 1957., 1956.,
       1955., 1954., 1953., 1952., 1951., 1950., 1949., 1948., 1848.,
       1947., 1946., 1945., 1944., 1943., 1942., 1941., 1940., 1939.,
       1938., 1937., 1936., 1935., 1934., 1933., 1932., 1931., 1930.,
       1929., 1928., 1927., 1926., 1925., 1924., 1923., 1922., 1921.,
       1920., 1919., 1918., 1917., 1916., 1915., 1914., 1913., 1912.,
       1911., 1910., 1909., 1908., 1907., 1906., 1905., 1904., 1903.,
       1902., 1901., 1900., 1899., 1898., 1897., 1896., 1895., 1894.,
       1893., 1892., 1891., 1890., 1889., 1888., 1887., 1886., 1885.,
       1884., 1883., 1882., 1881., 1880., 1879., 1878., 1877., 1876.,
       1875., 1874., 1873., 1872., 1871., 1870., 1869., 1868., 1867.,
       1866., 1865., 1864., 1863., 1862., 1861., 1860., 1859., 1858.,
       1857., 1856., 1855., 1853., 1852., 1851., 1850., 1849., 1847.,
       1846., 1845., 1844., 1842., 1841., 1840., 1839., 1837., 1836.,
       1835., 1834., 1832., 1831., 1830., 1829., 1828., 1827., 1826.,
       1825., 1823., 1822., 1819., 1818., 1817., 1816., 1815., 1812.,
       1811., 1810., 1808., 1807., 1805., 1804., 1803., 1802., 1801.,
       1800., 1797., 1792., 1791., 1788., 1787., 1786., 1785., 1784.,
       1783., 1780., 1779., 1776., 1771., 1767., 1764., 1758., 1753.,
       1751., 1749., 1755., 1748., 1742., 1738., 1733., 1723., 1721.,
       1703., 1700., 1642., 1691., 1640., 1638., 1637., 1617., 1595.,
       1580., 1555., 1554., 1543., 1518., 1500., 1000.,   77.,    5.,
          0.])

In [23]:
df["Year"].nunique()

261

In [24]:
df["Year"].isna().sum()

np.int64(2)

In [25]:
df["Year"].dtypes

dtype('float64')

In [26]:
df["Year"].isnull().sum()

np.int64(2)

In [27]:
zero_count = (df["Year"] ==0.0).sum()

print(zero_count)

129

In [28]:
# Compile the column Year : transfer the year from column Date into Year if the value is missing in Year column
# Function to extract year from Date column

import pandas as pd
import re

df = pd.read_excel("GSAF5.xls")

def extract_year_from_date(date_str):
# Use regex to look for a 4-digit year. This pattern matches a sequence of exactly four digits surrounded by word boundaries, 
    
    match = re.search(r'\b\d{4}\b', str(date_str))
   
    if match:
# re.match & group work together --> group() pulls out the specific part that matched.    
        
        return int(match.group()) 
    
    return np.nan

# Transfer year from Date to Year columns if Year is NaN

df['Year'] = df.apply(lambda row: row['Year'] if not pd.isna(row['Year']) else extract_year_from_date(row['Date']),axis=1)

# Print the DataFrame with the newly extracted Year column
print(df)

                Date    Year        Type             Country  \
0       14th October  2025.0  Unprovoked            Columbia
1       11th October  2025.0  Unprovoked           Australia
2        7th October  2025.0  Unprovoked           Australia
3     29th September  2025.0  Unprovoked                 USA
4     27th September  2025.0    Provoked          Costa Rica
...              ...     ...         ...                 ...
7045     Before 1903     0.0  Unprovoked           AUSTRALIA
7046     Before 1903     0.0  Unprovoked           AUSTRALIA
7047       1900-1905     0.0  Unprovoked                 USA
7048       1883-1889     0.0  Unprovoked              PANAMA
7049       1845-1853     0.0  Unprovoked  CEYLON (SRI LANKA)

                      State                             Location  \
0      Bolivar, del Isolate                    Catagena Province
1                Queensland       Cook Esplanade Thursday Island
2           South Australia                      Kangaroo Island
3            Off California                      Catalina Island
4                       NaN                        Cocos Islands
...                     ...                                  ...
7045      Western Australia                          Roebuck Bay
7046      Western Australia                                  NaN
7047         North Carolina                       Ocracoke Inlet
7048                    NaN                 Panama Bay 8ºN, 79ºW
7049       Eastern Province  Below the English fort, Trincomalee

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
7045                 Diving                   male   M  NaN  ...
7046           Pearl diving                  Ahmun   M  NaN  ...
7047               Swimming  Coast Guard personnel   M  NaN  ...
7048                    NaN        Jules Patterson   M  NaN  ...
7049               Swimming                   male   M   15  ...

                 Species                                          Source  \
0            Nurse shark   Kevin McMurray Trackingsharks.com Andy Currie
1     Tiger or Bull shark              Kevin McMurray Trackingsharks.com
2          Bronze whaler?              Kevin McMurray Trackingsharks.com
3      unknown 1.2m shark  Todd Smith: Kevin McMurray Trackingsharks.com
4          Tiger shark 4m  Todd Smith: Kevin McMurray Trackingsharks.com
...                   ...                                            ...
7045                  NaN               H. Taunton; N. Bartlett,  p. 234
7046                  NaN          H. Taunton; N. Bartlett,  pp. 233-234
7047                  NaN           F. Schwartz, p.23; C. Creswell, GSAF
7048                  NaN                            The Sun, 10/20/1938
7049                  NaN                                     S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7045          ND-0005-RoebuckBay.pdf
7046               ND-0004-Ahmun.pdf
7047  ND-0003-Ocracoke_1900-1905.pdf
7048      ND-0002-JulesPatterson.pdf
7049              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...
7046  http://sharkattackfile.net/spreadsheets/pdf_di...
7047  http://sharkattackfile.net/spreadsheets/pdf_di...
7048  http://sharkattackfile.net/spreadsheets/pdf_di...
7049  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
7046  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
7047  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
7048  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
7049  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
7045       ND.0005            6.0         NaN         NaN
7046       ND.0004            5.0         NaN         NaN
7047       ND.0003            4.0         NaN         NaN
7048       ND.0002            3.0         NaN         NaN
7049       ND.0001            2.0         NaN         NaN

[7050 rows x 23 columns]

In [29]:
## Convert to integer, handling NaN values

df['Year'] = df['Year'].fillna(0).astype(int)
print (df)

                Date  Year        Type             Country  \
0       14th October  2025  Unprovoked            Columbia
1       11th October  2025  Unprovoked           Australia
2        7th October  2025  Unprovoked           Australia
3     29th September  2025  Unprovoked                 USA
4     27th September  2025    Provoked          Costa Rica
...              ...   ...         ...                 ...
7045     Before 1903     0  Unprovoked           AUSTRALIA
7046     Before 1903     0  Unprovoked           AUSTRALIA
7047       1900-1905     0  Unprovoked                 USA
7048       1883-1889     0  Unprovoked              PANAMA
7049       1845-1853     0  Unprovoked  CEYLON (SRI LANKA)

                      State                             Location  \
0      Bolivar, del Isolate                    Catagena Province
1                Queensland       Cook Esplanade Thursday Island
2           South Australia                      Kangaroo Island
3            Off California                      Catalina Island
4                       NaN                        Cocos Islands
...                     ...                                  ...
7045      Western Australia                          Roebuck Bay
7046      Western Australia                                  NaN
7047         North Carolina                       Ocracoke Inlet
7048                    NaN                 Panama Bay 8ºN, 79ºW
7049       Eastern Province  Below the English fort, Trincomalee

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
7045                 Diving                   male   M  NaN  ...
7046           Pearl diving                  Ahmun   M  NaN  ...
7047               Swimming  Coast Guard personnel   M  NaN  ...
7048                    NaN        Jules Patterson   M  NaN  ...
7049               Swimming                   male   M   15  ...

                 Species                                          Source  \
0            Nurse shark   Kevin McMurray Trackingsharks.com Andy Currie
1     Tiger or Bull shark              Kevin McMurray Trackingsharks.com
2          Bronze whaler?              Kevin McMurray Trackingsharks.com
3      unknown 1.2m shark  Todd Smith: Kevin McMurray Trackingsharks.com
4          Tiger shark 4m  Todd Smith: Kevin McMurray Trackingsharks.com
...                   ...                                            ...
7045                  NaN               H. Taunton; N. Bartlett,  p. 234
7046                  NaN          H. Taunton; N. Bartlett,  pp. 233-234
7047                  NaN           F. Schwartz, p.23; C. Creswell, GSAF
7048                  NaN                            The Sun, 10/20/1938
7049                  NaN                                     S.W. Baker

                                 pdf  \
0                                NaN
1                                NaN
2                                NaN
3                                NaN
4                                NaN
...                              ...
7045          ND-0005-RoebuckBay.pdf
7046               ND-0004-Ahmun.pdf
7047  ND-0003-Ocracoke_1900-1905.pdf
7048      ND-0002-JulesPatterson.pdf
7049              ND-0001-Ceylon.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...
7046  http://sharkattackfile.net/spreadsheets/pdf_di...
7047  http://sharkattackfile.net/spreadsheets/pdf_di...
7048  http://sharkattackfile.net/spreadsheets/pdf_di...
7049  http://sharkattackfile.net/spreadsheets/pdf_di...

                                                   href Case Number  \
0                                                   NaN         NaN
1                                                   NaN         NaN
2                                                   NaN         NaN
3                                                   NaN         NaN
4                                                   NaN         NaN
...                                                 ...         ...
7045  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0005
7046  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0004
7047  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0003
7048  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0002
7049  http://sharkattackfile.net/spreadsheets/pdf_di...     ND.0001

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
7045       ND.0005            6.0         NaN         NaN
7046       ND.0004            5.0         NaN         NaN
7047       ND.0003            4.0         NaN         NaN
7048       ND.0002            3.0         NaN         NaN
7049       ND.0001            2.0         NaN         NaN

[7050 rows x 23 columns]

In [30]:
# other approach to clean the data from symbols is using Regex

# import re

# def clean_year(year):
    # Using regex to match the start of the string for digits
#   match = re.match(r"^\d+", str(year))  #sequence of digits at the start of the string, capturing the numeric component that constitutes the year
#   if match:
        # If there's a match, return the integer value
#      return int(match.group())


#   return None

In [31]:
# # Drop rows with Year < 1500 as out of scope 

df = df[df['Year'] >= 1500].reset_index(drop=True) # boolean
print(df)

                   Date  Year        Type     Country  \
0          14th October  2025  Unprovoked    Columbia
1          11th October  2025  Unprovoked   Australia
2           7th October  2025  Unprovoked   Australia
3        29th September  2025  Unprovoked         USA
4        27th September  2025    Provoked  Costa Rica
...                 ...   ...         ...         ...
6913               1555  1555  Unprovoked         NaN
6914           Ca. 1554  1554  Unprovoked      FRANCE
6915           Ca. 1543  1543  Unprovoked   VENEZUELA
6916      Ca 1588.04.00  1518  Unprovoked      MEXICO
6917  Ca 1200-1500 A.D.  1500  Unprovoked      MEXICO

                            State                        Location  \
0            Bolivar, del Isolate               Catagena Province
1                      Queensland  Cook Esplanade Thursday Island
2                 South Australia                 Kangaroo Island
3                  Off California                 Catalina Island
4                             NaN                   Cocos Islands
...                           ...                             ...
6913                          NaN                             NaN
6914            Nice & Marseilles                             NaN
6915  Magarita or Cubagua Islands                             NaN
6916                      Yucatan                         Cozumel
6917                          NaN                             NaN

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
6913               Swimming                   male   M  NaN  ...
6914                    NaN  males (wearing armor)   M  NaN  ...
6915           Pearl diving           Indian slave   M  NaN  ...
6916                Swmming    A cacique (a chief)   M  NaN  ...
6917                    NaN                   male   M  NaN  ...

                   Species                                          Source  \
0              Nurse shark   Kevin McMurray Trackingsharks.com Andy Currie
1       Tiger or Bull shark              Kevin McMurray Trackingsharks.com
2            Bronze whaler?              Kevin McMurray Trackingsharks.com
3        unknown 1.2m shark  Todd Smith: Kevin McMurray Trackingsharks.com
4            Tiger shark 4m  Todd Smith: Kevin McMurray Trackingsharks.com
...                     ...                                            ...
6913                    NaN                                   Olaus Magnus
6914  Possibly white sharks                                   G. Rondelet
6915                    NaN                                      J. Castro
6916                    NaN                                 C. Moore, GSAF
6917                    NaN                                      J. Castro

                                pdf  \
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
6913  1555.00.00 - Olaus Magnus.pdf
6914        1554.00.00-Rondelet.pdf
6915      1543.00.00.R-LasCasas.pdf
6916         1518.04.00.R.chief.pdf
6917              1200AD-Mexico.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
6913  http://sharkattackfile.net/spreadsheets/pdf_di...
6914  http://sharkattackfile.net/spreadsheets/pdf_di...
6915  http://sharkattackfile.net/spreadsheets/pdf_di...
6916                             1518.04.00.R-chief.pdf
6917                                  1200AD-Mexico.pdf

                                                   href   Case Number  \
0                                                   NaN           NaN
1                                                   NaN           NaN
2                                                   NaN           NaN
3                                                   NaN           NaN
4                                                   NaN           NaN
...                                                 ...           ...
6913  http://sharkattackfile.net/spreadsheets/pdf_di...    1555.00.00
6914  http://sharkattackfile.net/spreadsheets/pdf_di...    1554.00.00
6915  http://sharkattackfile.net/spreadsheets/pdf_di...    1543.00.00
6916                             1518.04.00.R-chief.pdf  1518.04.00.R
6917                                  1200AD-Mexico.pdf    1200.00.00

     Case Number.1 original order Unnamed: 21 Unnamed: 22
0              NaN            NaN         NaN         NaN
1              NaN            NaN         NaN         NaN
2              NaN            NaN         NaN         NaN
3              NaN            NaN         NaN         NaN
4              NaN            NaN         NaN         NaN
...            ...            ...         ...         ...
6913    1555.00.00          138.0         NaN         NaN
6914    1554.00.00          137.0         NaN         NaN
6915    1543.00.00          136.0         NaN         NaN
6916  1518.04.00.R          135.0         NaN         NaN
6917    1200.00.00          134.0         NaN         NaN

[6918 rows x 23 columns]

In [32]:
# also possible to group by major year ranges from 1500 to 2025.


# Define bins and labels for categorizing years

bins = [1499, 1599, 1699, 1799, 1899, 1999, 2025]  # interval
labels = [
    '1500-1599',
    '1600-1699',
    '1700-1799',
    '1800-1899',
    '1900-1999',
    '2000-2025'
]

# Using pd.cut() to create a new column with the categorical group
df['Year_Group'] = pd.cut(df['Year'], bins=bins, labels=labels, right=True)


print(df)

                   Date  Year        Type     Country  \
0          14th October  2025  Unprovoked    Columbia
1          11th October  2025  Unprovoked   Australia
2           7th October  2025  Unprovoked   Australia
3        29th September  2025  Unprovoked         USA
4        27th September  2025    Provoked  Costa Rica
...                 ...   ...         ...         ...
6913               1555  1555  Unprovoked         NaN
6914           Ca. 1554  1554  Unprovoked      FRANCE
6915           Ca. 1543  1543  Unprovoked   VENEZUELA
6916      Ca 1588.04.00  1518  Unprovoked      MEXICO
6917  Ca 1200-1500 A.D.  1500  Unprovoked      MEXICO

                            State                        Location  \
0            Bolivar, del Isolate               Catagena Province
1                      Queensland  Cook Esplanade Thursday Island
2                 South Australia                 Kangaroo Island
3                  Off California                 Catalina Island
4                             NaN                   Cocos Islands
...                           ...                             ...
6913                          NaN                             NaN
6914            Nice & Marseilles                             NaN
6915  Magarita or Cubagua Islands                             NaN
6916                      Yucatan                         Cozumel
6917                          NaN                             NaN

                   Activity                   Name Sex  Age  ...  \
0      Swimming with sharks             Male child   M   14  ...
1          Fishing/swimming             Samuel Nai   M   14  ...
2                   Surfing           Lee Berryman   M  50+  ...
3                  Swimming     Christopher Murray   M   54  ...
4     Diving-Tagging sharks     Dr. Mauricio Hoyos   M   48  ...
...                     ...                    ...  ..  ...  ...
6913               Swimming                   male   M  NaN  ...
6914                    NaN  males (wearing armor)   M  NaN  ...
6915           Pearl diving           Indian slave   M  NaN  ...
6916                Swmming    A cacique (a chief)   M  NaN  ...
6917                    NaN                   male   M  NaN  ...

                                             Source  \
0     Kevin McMurray Trackingsharks.com Andy Currie
1                 Kevin McMurray Trackingsharks.com
2                 Kevin McMurray Trackingsharks.com
3     Todd Smith: Kevin McMurray Trackingsharks.com
4     Todd Smith: Kevin McMurray Trackingsharks.com
...                                             ...
6913                                   Olaus Magnus
6914                                   G. Rondelet
6915                                      J. Castro
6916                                 C. Moore, GSAF
6917                                      J. Castro

                                pdf  \
0                               NaN
1                               NaN
2                               NaN
3                               NaN
4                               NaN
...                             ...
6913  1555.00.00 - Olaus Magnus.pdf
6914        1554.00.00-Rondelet.pdf
6915      1543.00.00.R-LasCasas.pdf
6916         1518.04.00.R.chief.pdf
6917              1200AD-Mexico.pdf

                                           href formula  \
0                                                   NaN
1                                                   NaN
2                                                   NaN
3                                                   NaN
4                                                   NaN
...                                                 ...
6913  http://sharkattackfile.net/spreadsheets/pdf_di...
6914  http://sharkattackfile.net/spreadsheets/pdf_di...
6915  http://sharkattackfile.net/spreadsheets/pdf_di...
6916                             1518.04.00.R-chief.pdf
6917                                  1200AD-Mexico.pdf

                                                   href   Case Number  \
0                                                   NaN           NaN
1                                                   NaN           NaN
2                                                   NaN           NaN
3                                                   NaN           NaN
4                                                   NaN           NaN
...                                                 ...           ...
6913  http://sharkattackfile.net/spreadsheets/pdf_di...    1555.00.00
6914  http://sharkattackfile.net/spreadsheets/pdf_di...    1554.00.00
6915  http://sharkattackfile.net/spreadsheets/pdf_di...    1543.00.00
6916                             1518.04.00.R-chief.pdf  1518.04.00.R
6917                                  1200AD-Mexico.pdf    1200.00.00

     Case Number.1 original order Unnamed: 21 Unnamed: 22 Year_Group
0              NaN            NaN         NaN         NaN  2000-2025
1              NaN            NaN         NaN         NaN  2000-2025
2              NaN            NaN         NaN         NaN  2000-2025
3              NaN            NaN         NaN         NaN  2000-2025
4              NaN            NaN         NaN         NaN  2000-2025
...            ...            ...         ...         ...        ...
6913    1555.00.00          138.0         NaN         NaN  1500-1599
6914    1554.00.00          137.0         NaN         NaN  1500-1599
6915    1543.00.00          136.0         NaN         NaN  1500-1599
6916  1518.04.00.R          135.0         NaN         NaN  1500-1599
6917    1200.00.00          134.0         NaN         NaN  1500-1599

[6918 rows x 24 columns]

In [33]:
## Group by the 'Year' and count the number of attacks in each year

yearly_counts = df.groupby('Year').size()

print(yearly_counts)

Year
1500      1
1518      1
1543      1
1554      1
1555      1
       ...
2022     98
2023    109
2024     52
2025     56
2026      1
Length: 257, dtype: int64

In [34]:
# Groupby and size to calculate year with the highest number of shark attacks. Use idxmax to identify maximum index along the specified axis (rows or columns).

yearly_group_counts = df.groupby('Year_Group').size()
print(yearly_group_counts )

max_year = yearly_group_counts.idxmax() 
print(max_year)

Year_Group
1500-1599       7
1600-1699       7
1700-1799      31
1800-1899     573
1900-1999    3501
2000-2025    2798
dtype: int64
1900-1999

/var/folders/st/1pfcl_tj40x4zfj7bthg6pdw0000gn/T/ipykernel_49830/3401565607.py:3: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  yearly_group_counts = df.groupby('Year_Group').size()

In [68]:
yearly_counts = df.groupby('Year').size()
print(yearly_counts)
max_year = yearly_counts.idxmax()
print(max_year)

Year
1500      1
1518      1
1543      1
1554      1
1555      1
       ...
2022     98
2023    109
2024     52
2025     56
2026      1
Length: 257, dtype: int64
2015

In [35]:
yearly_group_share = (df.groupby('Year_Group').size() / len (df))*100
print (f"The share of shark attacks per Year Group is: {yearly_group_share}")

The share of shark attacks per Year Group is: Year_Group
1500-1599     0.101185
1600-1699     0.101185
1700-1799     0.448106
1800-1899     8.282741
1900-1999    50.607112
2000-2025    40.445215
dtype: float64

/var/folders/st/1pfcl_tj40x4zfj7bthg6pdw0000gn/T/ipykernel_49830/3394806255.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  yearly_group_share = (df.groupby('Year_Group').size() / len (df))*100

In [36]:
# overview check 

df.head()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Year_Group
0,14th October,2025,Unprovoked,Columbia,"Bolivar, del Isolate",Catagena Province,Swimming with sharks,Male child,M,14,...,Kevin McMurray Trackingsharks.com Andy Currie,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-2025
1,11th October,2025,Unprovoked,Australia,Queensland,Cook Esplanade Thursday Island,Fishing/swimming,Samuel Nai,M,14,...,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-2025
2,7th October,2025,Unprovoked,Australia,South Australia,Kangaroo Island,Surfing,Lee Berryman,M,50+,...,Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-2025
3,29th September,2025,Unprovoked,USA,Off California,Catalina Island,Swimming,Christopher Murray,M,54,...,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-2025
4,27th September,2025,Provoked,Costa Rica,NaN,Cocos Islands,Diving-Tagging sharks,Dr. Mauricio Hoyos,M,48,...,Todd Smith: Kevin McMurray Trackingsharks.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2000-2025

In [37]:
#overview check

df.tail()

,Date,Year,Type,Country,State,Location,Activity,Name,Sex,Age,...,Source,pdf,href formula,href,Case Number,Case Number.1,original order,Unnamed: 21,Unnamed: 22,Year_Group
6913,1555,1555,Unprovoked,NaN,NaN,NaN,Swimming,male,M,NaN,...,Olaus Magnus,1555.00.00 - Olaus Magnus.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1555.00.00,1555.00.00,138.0,NaN,NaN,1500-1599
6914,Ca. 1554,1554,Unprovoked,FRANCE,Nice & Marseilles,NaN,NaN,males (wearing armor),M,NaN,...,G. Rondelet,1554.00.00-Rondelet.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1554.00.00,1554.00.00,137.0,NaN,NaN,1500-1599
6915,Ca. 1543,1543,Unprovoked,VENEZUELA,Magarita or Cubagua Islands,NaN,Pearl diving,Indian slave,M,NaN,...,J. Castro,1543.00.00.R-LasCasas.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,1543.00.00,1543.00.00,136.0,NaN,NaN,1500-1599
6916,Ca 1588.04.00,1518,Unprovoked,MEXICO,Yucatan,Cozumel,Swmming,A cacique (a chief),M,NaN,...,"C. Moore, GSAF",1518.04.00.R.chief.pdf,1518.04.00.R-chief.pdf,1518.04.00.R-chief.pdf,1518.04.00.R,1518.04.00.R,135.0,NaN,NaN,1500-1599
6917,Ca 1200-1500 A.D.,1500,Unprovoked,MEXICO,NaN,NaN,NaN,male,M,NaN,...,J. Castro,1200AD-Mexico.pdf,1200AD-Mexico.pdf,1200AD-Mexico.pdf,1200.00.00,1200.00.00,134.0,NaN,NaN,1500-1599

In [41]:
# Activity column cleaning 


df["Activity"].unique()

array(['Swimming with sharks', 'Fishing/swimming', 'Surfing', ...,
       'Ship lay at anchor & man was working on its rudder',
       'Man fell overboard from ship. Those on board threw a rope to him with a wooden block & were pulling him to the ship',
       'Swmming'], dtype=object)

In [42]:
df["Activity"].nunique()

1568

In [45]:
df["Activity"].value_counts().head()

Activity
Surfing         1139
Swimming         990
Fishing          485
Spearfishing     391
Wading           176
Name: count, dtype: int64

In [53]:
df['Activity'].str.contains('Surfing',case=False).sum()

1306

In [48]:
df['Activity'].str.contains('-',case=False).sum()

154

In [ ]:
sdd

In [49]:
df['Activity'].str.contains('/',case=False).sum()

105

In [64]:
import re

def clean_activity(activity):
    # Check if the entry is a string
    if isinstance(activity, str):
        # Use regular expression to find the first word before any delimiters
        match = re.match(r'^([^\s\/;\-\.,]+)', activity)
        if match:
            return match.group(1)
        else:
            return activity.strip()
    else:
        return ''  # or your desired default for non-string entries

# Apply the function to the DataFrame
df['clean_activity'] = df['Activity'].apply(clean_activity)

print(df['clean_activity'].head(400))  # Print the first few entries of the new column

0          Swimming
1           Fishing
2           Surfing
3          Swimming
4            Diving
           ...
395    Spearfishing
396            Body
397        Swimming
398
399    Spearfishing
Name: clean_activity, Length: 400, dtype: object

In [63]:
df["clean_activity"].value_counts()

clean_activity
Swimming        1172
Surfing         1167
Fishing          623
                 564
Spearfishing     438
                ...
Argentine          1
Sunbathing         1
Arsinoe,           1
Bather             1
Swmming            1
Name: count, Length: 441, dtype: int64